<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Clover Theme Manager</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<meta name="description" content="A user interface for Clover Theme Manager" />
    <meta name="author" content="Blackosx" />
    <meta name="copyright" content="Copyright 2014-2017 org.black.CloverThemeManager. All rights reserved.">    
    <link rel="stylesheet" type="text/css" href="styles/cloverthememanager.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<script src="scripts/jquery-2.1.3.min.js"></script>
	<script src="scripts/cloverthememanager.js"></script>
</head>
<body>

<!-- overlay is used with the message box. -->
<div class="overlay" id="overlay" style="display:none;"></div>

<!-- overlayTwo is used standalone to prevent the user from interacting -->
<!-- with the UI when checking for installed theme list and updates. -->
<div class="overlayTwo" id="overlayTwo" style="display:none;"></div>
    
<!-- Message box which starts positioned off the page by css. -->
<!-- It's then animated in to view when required. -->
<div class="box" id="box">
     <a class="boxclose" id="boxclose"></a>
     <h1>Title</h1>
     <p>Replace message here</p>
     <div id="FeedbackButtons"></div>
     <!-- Display a constantly animated progress bar. -->
     <!-- Javascript will show or hide this when necessary. -->
     <div id="AnimatedBar" class="meter"><span style="width: 100%"></span></div>
</div>

<div id="header">
    <div id="ListingThemesMessage" class="meterTwo"><span style="width: 100%"></span></div>
    <div id="CheckingUpdatesMessage" class="meterThree"><span style="width: 100%"></span></div>

<!--INSERT_BOOTLOG_BAND_TITLE_HERE-->
<!--INSERT_BOOTLOG_INFO_HERE-->

    <div id="PathSelector">
        <select name="dropdown" id="partitionSelect" class="custom-dropdown" tabindex="2">
            <!--INSERT_MENU_OPTIONS_HERE-->
        </select>
    </div> <!-- End PathSelector -->

    <div id="RefreshButton" tabindex="3">
        <button type="button" id="RefreshPathButton" class="reloadButton">
            <span class="field-tip" style="font-weight:bold;">&#x21bb;
                <span class="tip-content">Rescan selected partition<br>and check for theme updates</span>
            </span>
        </button>
    </div> <!-- End RefreshButton -->

    <div id="OpenButton" tabindex="4">
        <button type="button" id="OpenPathButton" class="openButton">
            <span class="field-tip">OPEN
                <span class="tip-content">Open Finder window for the selected \EFI\CLOVER\Themes directory</span>
            </span>
        </button>
    </div> <!-- End OpenButton -->

    <div id="EspButton" tabindex="5">
        <button type="button" id="MountEspButton" class="espButton">
            <span class="field-tip">MOUNT ESP
                <span class="tip-content">Check all EFI System Partitions for an \EFI\CLOVER\Themes directory.<br>Mount all that are found</span>
            </span>
        </button>
    </div> <!-- End EspButton -->

    <div id="ThemeCount">
        <span class="textHeaderSmall">Installed Themes:</span>&nbsp;<span class="textThemeCount" id="NumInstalledThemes">-</span><span class="textThemeCountQuery" id="NumInstalledThemesQuery">?</span>
    </div> <!-- End ThemeCount -->

    <div id="FreeSpace">
        <span class="textHeaderSmall">Free Space:</span>&nbsp;<span class="textFreeSpace">-</span>
    </div> <!-- End FreeSpace -->        

    <div id="HeaderBar" class="blackFill"">
        <div class="toggleButton" id="ShowHideToggleButton" tabindex="11">Show Installed</div>
        <div class="toggleButton" id="ShowHideUpdateAllButton" tabindex="10">Update All</div>
        <div class="spacerButtonUpdateAll"">&nbsp;</div>
        <div class="toggleButton" id="preview_Toggle_Button" tabindex="9">Expand Previews</div>
        <div class="spacerButton"">&nbsp;</div>
        <div class="toggleButtonSml" id="thumbSizeLarger" tabindex="8">+</div>
        <div class="toggleButtonSml" id="thumbSizeSmaller" tabindex="7">-</div>
        <div class="spacerButtonSml"">&nbsp;</div>
        <div class="spacerButtonSml"">&nbsp;</div>
        <div class="toggleButton" id="BandsHeightToggleButton" tabindex="6">Hide Thumbnails</div>   
    </div> <!-- End HeaderBar --> 
</div> <!-- End header -->  

<div id="content" tabindex="12">

<!--INSERT_THEMES_HERE-->
</div> <!-- End content -->    


<div id="footer">
    
<!--INSERT_NVRAM_MESSAGE_BAND_HERE-->
<!--INSERT_CONTROL_OPTIONS_BAND_HERE-->

    <div id="FooterLinks">
        <p class="textFooter"><a href="http://www.insanelymac.com/forum/topic/302674-clover-theme-manager/" target="_blank">Development Topic and check for updates</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://sourceforge.net/p/cloverefiboot/themes/ci/master/tree/CloverThemeManagerApp/CloverThemeManager/" target="_blank">Source Code</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="add_theme.html" target="_blank">How to add my theme</a></p>
    </div> <!-- End FooterLinks -->
    
</div> <!-- End footer --> 
                                                         
</body>
</html>