/sym/
/CloverV2/BootSectors/boot0af
/CloverV2/BootSectors/boot0ss
/CloverV2/BootSectors/boot0md
/CloverV2/BootSectors/boot1h
/CloverV2/BootSectors/boot1h2
/CloverV2/BootSectors/boot1f32alt
/CloverV2/BootSectors/boot1f32
/CloverV2/BootSectors/boot1x
/CloverV2/BootSectors/boot1xalt
/CloverV2/BootSectors/Description.txt
/CloverV2/BootSectors/Installation.txt
/CloverV2/Bootloaders/ia32/
/CloverV2/Bootloaders/x64/
/CloverV2/Bootloaders/X64/
/CloverV2/EFI/BOOT/BOOTIA32.efi
/CloverV2/EFI/BOOT/BOOTX64.efi
/CloverV2/EFI/CLOVER/CLOVERX64.efi
/CloverV2/EFI/CLOVER/CLOVERX64-test.efi
/CloverV2/EFI/CLOVER/CLOVERIA32.efi
/CloverV2/EFI/CLOVER/drivers/
/CloverV2/EFI/CLOVER/drivers32/
/CloverV2/EFI/CLOVER/drivers32UEFI/
/CloverV2/EFI/CLOVER/drivers64/
/CloverV2/EFI/CLOVER/drivers64UEFI/
/CloverV2/EFI/CLOVER/tools/bdmesg.efi
/CloverV2/EFI/CLOVER/tools/bdmesg-32.efi
/CloverV2/EFI/CLOVER/tools/Shell64U.efi
/CloverV2/drivers-Off/drivers32/
/CloverV2/drivers-Off/drivers32UEFI/
/CloverV2/drivers-Off/drivers64/
/CloverV2/drivers-Off/drivers64UEFI/
/CloverPrefpane/src/de.lproj/
/CloverPrefpane/src/es.lproj/
/CloverPrefpane/src/fr.lproj/
/CloverPrefpane/src/hr.lproj/
/CloverPrefpane/src/id.lproj/
/CloverPrefpane/src/it.lproj/
/CloverPrefpane/src/ja.lproj/
/CloverPrefpane/src/ko.lproj/
/CloverPrefpane/src/lv.lproj/
/CloverPrefpane/src/nl.lproj/
/CloverPrefpane/src/pl.lproj/
/CloverPrefpane/src/pt-BR.lproj/
/CloverPrefpane/src/pt.lproj/
/CloverPrefpane/src/ro.lproj/
/CloverPrefpane/src/ru.lproj/
/CloverPrefpane/src/tr.lproj/
/CloverPrefpane/src/uk.lproj/
/CloverPrefpane/src/uk_UA.lproj/
/CloverPrefpane/src/vi.lproj/
/CloverPrefpane/src/zh_CN.lproj/
/CloverPrefpane/src/zh_TW.lproj/
/CloverUpdater/src/de.lproj/
/CloverUpdater/src/es.lproj/
/CloverUpdater/src/fr.lproj/
/CloverUpdater/src/hr.lproj/
/CloverUpdater/src/id.lproj/
/CloverUpdater/src/it.lproj/
/CloverUpdater/src/ja.lproj/
/CloverUpdater/src/ko.lproj/
/CloverUpdater/src/lv.lproj/
/CloverUpdater/src/nl.lproj/
/CloverUpdater/src/pl.lproj/
/CloverUpdater/src/pt-BR.lproj/
/CloverUpdater/src/pt.lproj/
/CloverUpdater/src/ro.lproj/
/CloverUpdater/src/ru.lproj/
/CloverUpdater/src/tr.lproj/
/CloverUpdater/src/uk.lproj/
/CloverUpdater/src/uk_UA.lproj/
/CloverUpdater/src/vi.lproj/
/CloverUpdater/src/zh_CN.lproj/
/CloverUpdater/src/zh_TW.lproj/
/BootLoaderChooser
/CloverConfigPlistValidator
