<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DsdtName</key>
		<string>DSDT.aml</string>
		<key>DropOemSSDT</key>
		<false/>
		<key>DropAPIC</key>
		<false/>
		<key>DropMCFG</key>
		<false/>
		<key>DropHPET</key>
		<false/>
		<key>DropECDT</key>
		<false/>
		<key>DropDMAR</key>
		<true/>
		<key>DropBGRT</key>
		<true/>
		<key>GenerateIvyStates</key>
		<false/>
		<key>GenerateCStates</key>
		<false/>
		<key>GeneratePStates</key>
		<false/>
		<key>DoubleFirstState</key>
		<false/>
		<key>PLimitDict</key>
		<integer>0</integer>
		<key>UnderVoltStep</key>
		<integer>0</integer>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>RtVariables</key>
	<dict>
		<key>MountEFI</key>
		<true/>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>LogEveryBoot</key>
		<string>Yes</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>metal</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultBootVolume</key>
		<string>SnowHD</string>
		<key>DebugLog</key>
		<false/>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Speed</key>
			<integer>0</integer>
		</dict>
		<key>Volumes</key>
		<dict>
			<key>Legacy</key>
			<string>First</string>
			<key>Hide</key>
			<array>
				<string>VOLUME_NAME</string>
				<string>VOLUME_UUID</string>
				<string>TODO_HIDE_VOLUME_BY_TYPE/GROUP</string>
			</array>
		</dict>
		<key>HideEntries</key>
		<dict>
			<key>OSXInstall</key>
			<false/>
			<key>Recovery</key>
			<false/>
			<key>Duplicate</key>
			<false/>
			<key>WindowsEFI</key>
			<false/>
			<key>Grub</key>
			<false/>
			<key>Gentoo</key>
			<false/>
			<key>Ubuntu</key>
			<false/>
			<key>OpticalUEFI</key>
			<false/>
			<key>InternalUEFI</key>
			<false/>
			<key>ExternalUEFI</key>
			<false/>
		</dict>
	</dict>
	<key>PCI</key>
	<dict>
		<key>USBInjection</key>
		<true/>
		<key>USBFixOwnership</key>
		<true/>
		<key>InjectClockID</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>boot-args</key>
		<string>-v arch=i386 darkwake=0  WithKexts</string>
		<key>prev-lang:kbd</key>
		<string>ru:0</string>
		<key>CustomUUID</key>
		<string>511CE200-1000-4000-9999-010203040507</string>
		<key>InjectSystemID</key>
		<true/>
		<key>LegacyBoot</key>
		<string>PBR</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>PatchVBios</key>
		<false/>
	</dict>
</dict>
</plist>
