<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>FowZiey</string>
	<key>Year</key>
	<string>2012</string>
	<key>Description</key>
	<string>A lightweight theme with blue rotating logo. Alternative icons for common operating systems are available.</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>dot_bluemac_tile.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Banner</key>
		<string>banner_bluemac.png</string>
		<key>Selection</key>
		<dict>
			<key>Color</key>
			<string>0x0099FF10</string>
			<key>Small</key>
			<string>selection_small.png</string>
			<key>Big</key>
			<string>selection_big.png</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>Type</key>
			<string>Load</string>
			<key>Path</key>
			<string>GoB_PTMono_10W.png</string>
			<key>CharWidth</key>
			<integer>10</integer>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>rotary_logo_bluemac</string>
				<key>Frames</key>
				<integer>4</integer>
				<key>FrameTime</key>
				<integer>1025</integer>
				<key>Once</key>
				<false/>
			</dict>
		</array>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Inline</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
