# OS X temporary files that should never be committed
.vs
.DS_Store
*.swp
*.lock
*.bak
*~
.cache
/Conf
toolchain/

# /CloverPackage/
/CloverPackage/sym/
/CloverPackage/CloverV2/BootSectors/boot0af
/CloverPackage/CloverV2/BootSectors/boot0ss
/CloverPackage/CloverV2/BootSectors/boot0md
/CloverPackage/CloverV2/BootSectors/boot1h
/CloverPackage/CloverV2/BootSectors/boot1h2
/CloverPackage/CloverV2/BootSectors/boot1f32alt
/CloverPackage/CloverV2/BootSectors/boot1f32
/CloverPackage/CloverV2/BootSectors/boot1x
/CloverPackage/CloverV2/BootSectors/boot1xalt
/CloverPackage/CloverV2/BootSectors/Description.txt
/CloverPackage/CloverV2/BootSectors/Installation.txt
/CloverPackage/CloverV2/Bootloaders/ia32/
/CloverPackage/CloverV2/Bootloaders/x64/
/CloverPackage/CloverV2/EFI/BOOT/BOOTIA32.efi
/CloverPackage/CloverV2/EFI/BOOT/BOOTX64.efi
/CloverPackage/CloverV2/EFI/CLOVER/CLOVERX64.efi
/CloverPackage/CloverV2/EFI/CLOVER/CLOVERX64-test.efi
/CloverPackage/CloverV2/EFI/CLOVER/CLOVERIA32.efi
/CloverPackage/CloverV2/EFI/CLOVER/drivers/
/CloverPackage/CloverV2/EFI/CLOVER/drivers32/
/CloverPackage/CloverV2/EFI/CLOVER/drivers32UEFI/
/CloverPackage/CloverV2/EFI/CLOVER/drivers64/
/CloverPackage/CloverV2/EFI/CLOVER/drivers64UEFI/
/CloverPackage/CloverV2/EFI/CLOVER/tools/bdmesg.efi
/CloverPackage/CloverV2/EFI/CLOVER/tools/bdmesg-32.efi
/CloverPackage/CloverV2/EFI/CLOVER/tools/Shell64U.efi
/CloverPackage/CloverV2/drivers-Off/drivers32/
/CloverPackage/CloverV2/drivers-Off/drivers32UEFI/
/CloverPackage/CloverV2/drivers-Off/drivers64/
/CloverPackage/CloverV2/drivers-Off/drivers64UEFI/
/CloverPackage/CloverPrefpane/src/de.lproj/
/CloverPackage/CloverPrefpane/src/es.lproj/
/CloverPackage/CloverPrefpane/src/fr.lproj/
/CloverPackage/CloverPrefpane/src/hr.lproj/
/CloverPackage/CloverPrefpane/src/id.lproj/
/CloverPackage/CloverPrefpane/src/it.lproj/
/CloverPackage/CloverPrefpane/src/ja.lproj/
/CloverPackage/CloverPrefpane/src/ko.lproj/
/CloverPackage/CloverPrefpane/src/lv.lproj/
/CloverPackage/CloverPrefpane/src/nl.lproj/
/CloverPackage/CloverPrefpane/src/pl.lproj/
/CloverPackage/CloverPrefpane/src/pt-BR.lproj/
/CloverPackage/CloverPrefpane/src/pt.lproj/
/CloverPackage/CloverPrefpane/src/ro.lproj/
/CloverPackage/CloverPrefpane/src/ru.lproj/
/CloverPackage/CloverPrefpane/src/tr.lproj/
/CloverPackage/CloverPrefpane/src/uk.lproj/
/CloverPackage/CloverPrefpane/src/uk_UA.lproj/
/CloverPackage/CloverPrefpane/src/vi.lproj/
/CloverPackage/CloverPrefpane/src/zh_CN.lproj/
/CloverPackage/CloverPrefpane/src/zh_TW.lproj/
/CloverPackage/CloverUpdater/src/de.lproj/
/CloverPackage/CloverUpdater/src/es.lproj/
/CloverPackage/CloverUpdater/src/fr.lproj/
/CloverPackage/CloverUpdater/src/hr.lproj/
/CloverPackage/CloverUpdater/src/id.lproj/
/CloverPackage/CloverUpdater/src/it.lproj/
/CloverPackage/CloverUpdater/src/ja.lproj/
/CloverPackage/CloverUpdater/src/ko.lproj/
/CloverPackage/CloverUpdater/src/lv.lproj/
/CloverPackage/CloverUpdater/src/nl.lproj/
/CloverPackage/CloverUpdater/src/pl.lproj/
/CloverPackage/CloverUpdater/src/pt-BR.lproj/
/CloverPackage/CloverUpdater/src/pt.lproj/
/CloverPackage/CloverUpdater/src/ro.lproj/
/CloverPackage/CloverUpdater/src/ru.lproj/
/CloverPackage/CloverUpdater/src/tr.lproj/
/CloverPackage/CloverUpdater/src/uk.lproj/
/CloverPackage/CloverUpdater/src/uk_UA.lproj/
/CloverPackage/CloverUpdater/src/vi.lproj/
/CloverPackage/CloverUpdater/src/zh_CN.lproj/
/CloverPackage/CloverUpdater/src/zh_TW.lproj/


# /FileSystems/HFSPlus/
/FileSystems/HFSPlus/Ia32/
/FileSystems/HFSPlus/X64/

# /
/Version.h

# /rEFIt_UEFI/
/rEFIt_UEFI/Version.h

# XCode files/directories
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
xcshareddata/

# Translation files
CloverUpdater.strings
#CloverPackage/CloverUpdater/src/*.lproj
CloverPrefpane.strings
#CloverPackage/CloverPrefpane/src/*.lproj

BaseTools/Source/Python/build/BuildReport.pyc

CloverPackage/revision
CloverPackage/version
tools

#VC project
/VC

#Eclipse build folder
/DEBUG_*/
/rEFIt_UEFI copy/
