<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pointer</key>
	<dict>
		<key>Enable</key>
		<string>Yes</string>
		<key>Speed</key>
		<string>8</string>
		<key>Mirror</key>
		<string>No</string>
		<key>DoubleClickTime</key>
		<string>500</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<string>No</string>
		<key>KernelCpu</key>
		<string>No</string>
		<key>ATIConnectorsController</key>
		<string>6000</string>
		<key>ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>AsusAICPUPM</key>
		<string>No</string>
		<key>AppleRTC</key>
		<string>Yes</string>
		<key>KextsToPatch</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<key>1</key>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Find</key>
				<data>TA==</data>
				<key>Replace</key>
				<data>TA==</data>
			</dict>
			<key>2</key>
			<dict>
				<key>Name</key>
				<string>IOBlockStorage</string>
				<key>Find</key>
				<data>TA==</data>
				<key>Replace</key>
				<data>TA==</data>
			</dict>
			<key>3</key>
			<dict>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<key>4</key>
			<dict>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Find</key>
				<data>cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY</data>
				<key>Replace</key>
				<data>cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY</data>			
			</dict>
		</dict>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>iCloudFix</key>
		<string>Yes</string>
		<key>boot-args</key>
		<string>-v arch=i386</string>
		<key>prev-lang:kbd</key>
		<string>ru:0</string>
		<key>DefaultBootVolume</key>
		<string>MacHDD</string>
		<key>CustomUUID</key>
		<string>511CE200-1000-4000-9999-010203040506</string>
		<key>InjectSystemID</key>
		<string>No</string>
		<key>LegacyBoot</key>
		<string>PBR</string>
		<key>BacklightLevel</key>
		<string>0x0501</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>BiosReleaseDate</key>
		<string>05/03/10</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBook1,1</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Family</key>
		<string>MacBook</string>
		<key>SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>BoardVersion</key>
		<string>Proto1</string>
		<key>BoardType</key>
		<string>10</string>
		<key>Mobile</key>
		<string>Yes</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>ChassisType</key>
		<string>0x10</string>		
		<key>FirmwareFeatures</key>
		<string>0xC0001403</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Turbo</key>
		<string>No</string>
		<key>ProcessorType</key>
		<string>0x0201</string>
		<key>CpuFrequencyMHz</key>
		<string>3200</string>
		<key>BusSpeedkHz</key>
		<string>133330</string>
		<key>QPI</key>
		<string>4800</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>GraphicsInjector</key>
		<string>Yes</string>
		<key>InjectEDID</key>
		<string>Yes</string>
		<key>CustomEDID</key>
		<data>AP///////wAyDADfAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=</data>
		<key>VRAM</key>
		<string>1024</string>
		<key>DualLink</key>
		<string>0</string>
		<key>LoadVBios</key>
		<string>No</string>
		<key>PatchVBios</key>
		<string>No</string>
		<key>VideoPorts</key>
		<string>2</string>
		<key>FBName</key>
		<string>Makaka</string>
		<key>NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>PatchVBiosBytes</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Find</key>
				<data>gAeoAqAF</data>
				<key>Replace</key>
				<data>gAeoAjgE</data>
			</dict>
		</dict>
	</dict>
	<key>PCI</key>
	<dict>
		<key>StringInjector</key>
		<string>No</string>
		<key>DeviceProperties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>PCIRootUID</key>
		<string>0</string>
		<key>HDAInjection</key>
		<string>Detect</string>
		<key>USBInjection</key>
		<string>Yes</string>
		<key>USBFixOwnership</key>
		<string>Yes</string>
		<key>InjectClockID</key>
		<string>Yes</string>
		<key>LpcTune</key>
		<string>Yes</string>
	</dict>
	<key>Volumes</key>
	<dict>
		<key>HideAllOSX</key>
		<string>No</string>
		<key>HideDuplicatedBootTarget</key>
		<string>Yes</string>
		<key>HideAllOSXInstall</key>
		<string>No</string>
		<key>HideAllRecovery</key>
		<string>No</string>
		<key>HideAllWindowsEFI</key>
		<string>No</string>
		<key>HideAllGrub</key>
		<string>No</string>
		<key>HideAllGentoo</key>
		<string>No</string>
		<key>HideAllRedHat</key>
		<string>No</string>
		<key>HideAllUbuntu</key>
		<string>No</string>
		<key>HideAllSuSe</key>
		<string>No</string>
		<key>HideAllUEFI</key>
		<string>No</string>
		<key>HideAllLegacy</key>
		<string>No</string>
		<key>HideVolumes</key>
		<dict>
			<key>0</key>
			<dict>
				<key>VolumeString</key>
				<string>HD(1,GPT,E223FF7F-F2DA-4DBB-B765-756F2D95B0FE)</string>
			</dict>
		</dict>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DsdtName</key>
		<string>DSDT.aml</string>
		<key>DropOemSSDT</key>
		<string>Yes</string>
		<key>DropAPIC</key>
		<string>No</string>
		<key>DropMCFG</key>
		<string>No</string>
		<key>DropHPET</key>
		<string>No</string>
		<key>DropECDT</key>
		<string>No</string>
		<key>DropDMAR</key>
		<string>Yes</string>
		<key>GenerateCStates</key>
		<string>Yes</string>
		<key>GeneratePStates</key>
		<string>Yes</string>
		<key>PLimitDict</key>
		<string>1</string>
		<key>UnderVoltStep</key>
		<string>1</string>
		<key>EnableC6</key>
		<string>Yes</string>
		<key>EnableC4</key>
		<string>No</string>
		<key>EnableC2</key>
		<string>Yes</string>
		<key>EnableISS</key>
		<string>Yes</string>
		<key>C3Latency</key>
		<string>0x03E9</string>
		<key>ResetAddress</key>
		<string>0x64</string>
		<key>ResetValue</key>
		<string>0xFE</string>
		<key>smartUPS</key>
		<string>No</string>
		<key>PatchAPIC</key>
		<string>No</string>
		<key>RememberBIOS</key>
		<string>Yes</string>
		<key>FixDsdtMask</key>
		<string>0xFFFF</string>
	</dict>
</dict>
</plist>
