<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>blackosx</string>
	<key>Description</key>
	<string>BGM (black_green and moody) v1.9</string>
	<key>Year</key>
	<string>2013-2018</string>
	<key>Theme</key>
	<dict>
		<key>Origination</key>
		<dict>
			<key>DesignWidth</key>
			<integer>1920</integer>
			<key>DesignHeight</key>
			<integer>1080</integer>
		</dict>
	    <key>Components</key>
        <dict>
            <key>MenuTitle</key>
            <false/>
            <key>MenuTitleImage</key>
            <false/>
        </dict>
        <key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Scale</key>
            <integer>4</integer>
		</dict>
		<key>Banner</key>
		<string>logo_trans.png</string>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>50</integer>
			<key>ButtonOffset</key>
			<integer>16</integer>
			<key>AnimAdjustForMenuX</key>
			<integer>-100</integer>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>GoB_PTMono_10W_Bevel3.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>BootCampStyle</key>
		<false/>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x00252eFF</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_small.png</string>
			<key>Indicator</key>
			<string>selection_indicator.png</string>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>Width</key>
			<integer>16</integer> 
			<key>Height</key>
			<integer>16</integer>
			<key>BarHeight</key>
			<integer>4</integer>
			<key>ScrollHeight</key>
			<integer>8</integer>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>Anim_1_Logo</string>
				<key>Frames</key>
				<integer>49</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<true/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>30</integer>
				<key>ScreenEdgeY</key>
				<string>top</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>25</integer>
				<key>NudgeX</key>
				<integer>-3</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>Path</key>
				<string>Anim_2_About</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>3</integer>
				<key>Path</key>
				<string>Anim_3_Help</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>4</integer>
				<key>Path</key>
				<string>Anim_4_Options</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>Path</key>
				<string>Anim_5_Graphics</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>6</integer>
				<key>Path</key>
				<string>Anim_6_CPU</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>7</integer>
				<key>Path</key>
				<string>Anim_7_Binaries</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>Path</key>
				<string>Anim_8_DSDT</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>9</integer>
				<key>Path</key>
				<string>Anim_9_Boot_Sequence</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>10</integer>
				<key>Path</key>
				<string>Anim_10_SMBIOS</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>Path</key>
				<string>Anim_11_Tables</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>12</integer>
				<key>Path</key>
				<string>Anim_12_RC_Script</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>13</integer>
				<key>Path</key>
				<string>Anim_13_PCI_Devices</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>Path</key>
				<string>Anim_14_Themes</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ID</key>
				<integer>15</integer>
				<key>Path</key>
				<string>Anim_15_SysVars</string>
				<key>Frames</key>
				<integer>64</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Once</key>
				<false/>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>28</integer>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>48</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>