<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>blackosx</string>
	<key>Description</key>
	<string>BGM (black_green and moody) v1.1</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>48</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Once</key>
				<true/>
				<key>Path</key>
				<string>Anim_1_Logo</string>
				<key>ScreenEdgeX</key>
                <string>left</string>
                <key>DistanceFromScreenEdgeX%</key>
                <integer>37</integer>
                <key>ScreenEdgeY</key>
                <string>bottom</string>
                <key>DistanceFromScreenEdgeY%</key>
                <integer>20</integer>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>2</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_2_About</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>3</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_3_Help</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>4</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_4_Options</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>5</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_5_Graphics</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>6</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_6_CPU</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>7</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_7_Binaries</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>8</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_8_DSDT</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>9</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_9_Boot_Sequence</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>10</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_10_SMBIOS</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>11</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_11_Tables</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>12</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_12_RC_Script</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>13</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_13_PCI_Devices</string>
			</dict>
			<dict>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>64</integer>
				<key>ID</key>
				<integer>14</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_14_Themes</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo_trans.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>GoB_PTMono_10W_Bevel3.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x00252eFF</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2013</string>
</dict>
</plist>
