config.mk
imagequant.pc
*.lo
*.o
*.a
*.so.0
*.so
*.bz2
*.dylib
*.dylib.0
*.jnilib
*.dSYM
org/pngquant/*.class
org/pngquant/*.h
target/
msvc-dist/org/
msvc-dist/*.md
msvc-dist/Makefile*
msvc-dist/*.cs
msvc-dist/*.xml
msvc-dist/CHANGELOG
msvc-dist/COPYRIGHT
msvc-dist/configure
msvc-dist/.gitignore
quantized_example.png
example
lodepng.?
