<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Slice</string>
	<key>Year</key>
	<string>2012</string>
	<key>Description</key>
	<string>Main metallic looking theme</string>
	<key>Theme</key>
	<dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Inline</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>MetalDragon.png</string>
			<key>Type</key>
			<string>Scale</string>
			<key>Dark</key>
			<false/>
			<key>Sharp</key>
			<string>0x80</string>
		</dict>
		<key>Banner</key>
		<string>logo-trans.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>BoG_LucidaConsole_10W_NA.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>arrow-144.png</string>
			<key>Color</key>
			<string>0xF3F3F380</string>
			<key>Small</key>
			<string>arrow-64.png</string>
			<key>OnTop</key>
			<true/>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_3D</string>
				<key>Frames</key>
				<integer>15</integer>
				<key>FrameTime</key>
				<integer>200</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
