<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <title></title>
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Times}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Times; color: #0000ee}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Times; min-height: 13.0px}
    span.s1 {font: 10.0px 'Lucida Grande'}
    span.s2 {color: #000000}
    span.s3 {text-decoration: underline}
  </style>
</head>
<body>
<p class="p1"><span class="s1">Clover v2 </span>is open source based on different projects: Clover, rEFIt, XNU, VirtualBox.</p>
<p class="p2"><span class="s2">The main is EDK2 latest revision. <a href="http://sourceforge.net/projects/cloverefiboot/"><span class="s3">http://sourceforge.net/projects/cloverefiboot/</span></a></span></p>
<p class="p3"><br/></p>
<p class="p1"><b>Main features:</b></p>
<p class="p1">- boot into 10.4 - 10.9 OSX, Windows EFI and Linux EFI</p>
<p class="p1">- It's EFI bootloader provides RuntimeServices for OS that impossible for Legacy Bootloaders</p>
<p class="p1">- mostly Clover do automatic detection of hardware and set all properties by default.<span class="Apple-converted-space"> </span></p>
<p class="p1"><span class="Apple-converted-space">  </span>But user can change them by config.plist</p>
<p class="p1">- with Clover you may restart into other OS from Startup Disk prefPane</p>
<p class="p1">- UUID written into config.plist will be the same as in OS</p>
<p class="p1">- SMBIOS will be corrected to standard 2.6</p>
<p class="p1">- ACPI will be corrected to standard 4.0.</p>
<p class="p1"><span class="Apple-converted-space">  </span>Custom DSDT will be loaded from booted partition or from EFI folder</p>
<p class="p1">- customizable RestartFix and sleep/wake fixes and PCIRootUID value</p>
<p class="p1">- Graphics Properties Injector for ATI, NVidia and Intel for wide range of supported cards.<span class="Apple-converted-space"> </span></p>
<p class="p1"><span class="Apple-converted-space">  </span>Also customizable.</p>
<p class="p1">- USB fix (LegacyOff, Ownership, Builtin, clock-id) up to USB 3.0<span class="Apple-converted-space"> </span></p>
<p class="p1">- HDA injector and Ethernet builtin injector</p>
<p class="p1">- CPU turbo and P- and C-states generator</p>
<p class="p1">- ACPI tables loading (SSDT-xx, APIC, BOOT, SLIC, SLIT, SRAT, UEFI...)</p>
<p class="p1">- extra kexts loading and security mode for FireWire</p>
<p class="p1">- default boot after timeout, customizable GUI , and saving screenshots from GUI typing F10</p>
<p class="p1">- saving boot.log in OS and preboot.log from GUI by typing F2</p>
</body>
</html>
