<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Robert (Mrengles)</string>
	<key>Year</key>
	<string>2013</string>
	<key>Description</key>
	<string>Elegant and simple Bootcamp styled theme with tons of extra artwork and icons to choose from for easy customization.</string>
	<key>Theme</key>
	<dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<false/>
			<key>Inline</key>
			<true/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>Background_Linen.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Banner</key>
		<string>Clover_Logo.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>Monaco_Smooth.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_Big.png</string>
			<key>Color</key>
			<string>0x0a0a0a99</string>
			<key>Small</key>
			<string>Selection_Small.png</string>
		</dict>
		<key>Anime</key>
		<array/>
	</dict>
</dict>
</plist>
