<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>#AddDTGP_0001</key>
				<true/>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>AddIMEI_80000</key>
				<true/>
				<key>AddMCHC_0008</key>
				<true/>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<true/>
				<key>FIX_ADP1_800000</key>
				<true/>
				<key>FIX_INTELGFX_100000</key>
				<true/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FakeLPC_0020</key>
				<true/>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixDarwin</key>
				<true/>
				<key>FixDarwin7_10000</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
				<key>FixFirewire_0800</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixHeaders_20000000</key>
				<true/>
				<key>FixIDE_0200</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixSATA_0400</key>
				<true/>
				<key>FixSBUS_0080</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
				<key>FixUSB_1000</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>aa</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string> ACPI1 </string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AA==
					</data>
					<key>Replace</key>
					<data>
					AQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ACPI2</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					Ag==
					</data>
					<key>Replace</key>
					<data>
					Aw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<true/>
			<key>Rtc8Allowed</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>DisabledAML</key>
		<array>
			<string>aa</string>
			<string>bb</string>
			<string>#bb</string>
			<string>cc</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Length</key>
				<string>12</string>
				<key>DropForAllOS</key>
				<string>yes</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<true/>
		<key>ResetAddress</key>
		<string>0</string>
		<key>ResetValue</key>
		<string>02</string>
		<key>SSDT</key>
		<dict>
			<key>C3Latency</key>
			<string>0xd</string>
			<key>DoubleFirstState</key>
			<true/>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>#Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>MaxMultiplier</key>
			<integer>12</integer>
			<key>MinMultiplier</key>
			<integer>11</integer>
			<key>PLimitDict</key>
			<string>2</string>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>5</string>
			<key>UseSystemIO</key>
			<true/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>dd</string>
			<string>cc</string>
		</array>
		<key>smartUPS</key>
		<string>No</string>
		<key>#smartUPS</key>
		<true/>
		<key>#RenameDevices</key>
		<dict>
			<key>_SBZZZ.PCI0.RP02.PXSX</key>
			<string>bb</string>
			<key>c</key>
			<string></string>
		</dict>
        <key>RenameDevices</key>
        <array>
        	<dict>
            	<key>_SB.PCI0.RP05.PXSX</key>
            	<string>UPSB</string>
            	<key>_SB.PCI0.RP05.PXSY</key>
            	<string>UPSY</string>
        	</dict>
         	<dict>
            	<key>_SB.PCI0.RP05.UPSB.DSB1.NHI0</key>
            	<string>UPS0</string>
            </dict>
       		<dict>
            	<key>_SB.PCI0.RP03.PXSX</key>
            	<string>BRG3</string>
        	</dict>
        </array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v arch=i386 slide=0 dart=0 -xcpm darkwake=1 npci=0x2000 nv_disable=1 cpus=1 rootless=0 debug=0x100 aa</string>
		<key>BlackList</key>
		<array>
			<string>hh</string>
		</array>
		<key>CustomLogo</key>
		<string>Apple</string>
		<key>Debug</key>
		<true/>
		<key>DefaultLoader</key>
		<string>ii</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<true/>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>LegacyBiosDefaultEntry</key>
		<integer>12</integer>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Policy</key>
		<string>Allow</string>
		<key>Secure</key>
		<true/>
		<key>SignatureFixup</key>
		<true/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>WhiteList</key>
		<array>
			<string>ff</string>
			<string>gg</string>
		</array>
		<key>XMPDetection</key>
		<integer>1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0xF1F1F1</string>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
		<key>UIScale</key>
		<integer>4</integer>
		<key>flagstate</key>
		<integer>3</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>BusSpeedkHz</key>
		<integer>800</integer>
		<key>C2</key>
		<false/>
		<key>#C4</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>FrequencyMHz</key>
		<integer>2000</integer>
		<key>HWPEnable</key>
		<true/>
		<key>HWPValue</key>
		<string>0x7</string>
		<key>Latency</key>
		<string>0x3</string>
		<key>QEMU</key>
		<true/>
		<key>QPI</key>
		<integer>4</integer>
		<key>TDP</key>
		<integer>6</integer>
		<key>TurboDisable</key>
		<true/>
		<key>Type</key>
		<string>0x5</string>
		<key>UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>#Properties_key1</key>
			<dict>
            	<key>﻿pci-aspm-defaul﻿t﻿</key>
            	<integer>0</integer>
				<key>AAPL,GfxYTile</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAbWQ==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device-id</key>
				<data>
				G1kAAA==
				</data>
			</dict>
			<key>Test2</key>
			<dict>
				<key>Test2Key1</key>
				<data>AQAAAA==</data>
				<key>Test2Key2</key>
				<string>Test2Value2</string>
			</dict>
			<key>!PrimaryGPU</key>
			<dict>
				<key>TestPrimaryGPU</key>
				<data>AQAAAA==</data>
				<key>Test2Key2</key>
				<string>Test2Value2</string>
			</dict>
			<key>SecondaryGPU</key>
			<dict>
				<key>Test2SecondaryGPU</key>
				<data>AQAAAA==</data>
				<key>Test2Key2</key>
				<string>Test2Value2</string>
			</dict>
		</dict>
		<key>#Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>C1</string>
				<key>PciAddr</key>
				<string>00:00.01</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>ll</string>
						<key>Value</key>
						<string>mm</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>nn</string>
						<key>Value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>oo</string>
						<key>Value</key>
						<data>
						Ag==
						</data>
					</dict>
				</array>
			</dict>
		</array>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>SATA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>10</string>
				<key>Value</key>
				<integer>11</integer>
			</dict>
		</array>
		<key>AirportBridgeDeviceName</key>
		<string>airp</string>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>0x11</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>DisableFunctions</key>
		<string>0x18F6</string>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x22221002</string>
			<key>IMEI</key>
			<string>0x22221002</string>
			<key>IntelGFX</key>
			<string>0x22221002</string>
			<key>LAN</key>
			<string>0x22221002</string>
			<key>NVidia</key>
			<string>0x22221002</string>
			<key>SATA</key>
			<string>0x22221002</string>
			<key>WIFI</key>
			<string>0x22221002</string>
			<key>XHCI</key>
			<string>0x22221002</string>
		</dict>
		<key>ForceHPET</key>
		<true/>
		<key>Inject</key>
		<true/>
		<key>IntelMaxValue</key>
		<string>0x710</string>
		<key>NoDefaultProperties</key>
		<true/>
		<key>SetIntelBacklight</key>
		<true/>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Ps2KeyboardDxe</string>
		<string>OsxAptioFixDrv</string>
		<string></string>
	</array>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClickTime</key>
			<integer>501</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<true/>
			<key>Speed</key>
			<integer>5</integer>
		</dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>AddArguments</key>
					<string>addarg</string>
					<key>#Arguments</key>
					<string>arg</string>
					<key>BootBgColor</key>
					<string>bootbgcolor</string>
					<key>CustomLogo</key>
					<string>Apple</string>
					<key>Disabled</key>
					<false/>
					<key>DriveImage</key>
					<string>driveimage</string>
					<key>FullTitle</key>
					<string>title</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Hotkey</key>
					<string>H</string>
					<key>Image</key>
					<string>image</string>
					<key>Path</key>
					<string>path</string>
					<key>Settings</key>
					<string>settings</string>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>arg2</string>
							<key>FullTitle</key>
							<string>title111</string>
						</dict>
						<dict>
							<key>AddArguments</key>
							<string>arg3</string>
							<key>Title</key>
							<string>title2</string>
						</dict>
						<dict>
							<key>Arguments</key>
							<string>arg4</string>
							<key>FullTitle</key>
							<string>title3</string>
						</dict>
						<dict>
							<key>AddArguments</key>
							<string>arg5</string>
							<key>Title</key>
							<string>title4</string>
						</dict>
					</array>
					<key>Type</key>
					<string>Oldest</string>
					<key>Volume</key>
					<string>v1</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>FullTitle</key>
					<string>title</string>
					<key>Hidden</key>
					<true/>
					<key>Hotkey</key>
					<string>I</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>v2</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Arguments</key>
					<string>b</string>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<true/>
					<key>Hotkey</key>
					<string>b</string>
					<key>Path</key>
					<string>path</string>
					<key>Title</key>
					<string>title</string>
					<key>Volume</key>
					<string>tool1</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>sdfsdfdf</string>
			<string>sdfsfdf</string>
		</array>
		<key>Language</key>
		<string>es</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<false/>
			<key>Tool</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>ShowOptimus</key>
		<true/>
		<key>TextOnly</key>
		<true/>
		<key>Theme</key>
		<string>theme</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>ATI</key>
		<array>
			<dict>
				<key>IOPCIPrimaryMatch</key>
				<string>0x1002888</string>
				<key>IOPCISubDevId</key>
				<string>0x106B</string>
				<key>LoadVBios</key>
				<true/>
				<key>Model</key>
				<string>cc</string>
				<key>VRAM</key>
				<integer>2000</integer>
				<key>VideoPorts</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>IOPCIPrimaryMatch</key>
				<string>0x1002888</string>
				<key>IOPCISubDevId</key>
				<string>0x106B</string>
				<key>LoadVBios</key>
				<true/>
				<key>Model</key>
				<string>cc</string>
				<key>VRAM</key>
				<integer>2000</integer>
				<key>VideoPorts</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>NVIDIA</key>
		<array>
			<dict>
				<key>IOPCIPrimaryMatch</key>
				<string>0x10DE999</string>
				<key>IOPCISubDevId</key>
				<string>0x106B</string>
				<key>LoadVBios</key>
				<false/>
				<key>Model</key>
				<string>aa</string>
				<key>VRAM</key>
				<integer>1000</integer>
				<key>VideoPorts</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>IOPCIPrimaryMatch</key>
				<string>0x10DE999</string>
				<key>IOPCISubDevId</key>
				<string>0x106B</string>
				<key>LoadVBios</key>
				<true/>
				<key>Model</key>
				<string>bb</string>
				<key>VRAM</key>
				<integer>1000</integer>
				<key>VideoPorts</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>BootDisplay</key>
		<integer>12</integer>
		<key>DualLink</key>
		<integer>1</integer>
		<key>EDID</key>
		<dict>
			<key>Custom</key>
			<data>AP///////wBMo0cwAAAAAAAUAQOAHBB46h2FkVZZjyYYUFQAAAABAQEBAQEBAQEBAQEBAQEBOB1W1FAAFjAwICUAFZwQAAAZAAAADwAAAAAAAAAAACXZBmoAAAAA/gBTQU1TVU5HCiBMo0FUAAAA/gBMVE4xMjVBVDAxNDAxAF0=</data>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>0x9777</string>
			<key>VendorID</key>
			<string>0x1007</string>
		</dict>
		<key>FBName</key>
		<string>Exmoor</string>
		<key>Inject</key>
		<true/>
		<key>LoadVBios</key>
		<true/>
		<key>NVCAP</key>
		<string>0304</string>
		<key>NvidiaGeneric</key>
		<true/>
		<key>NvidiaNoEFI</key>
		<true/>
		<key>NvidiaSingle</key>
		<true/>
		<key>PatchVBios</key>
		<true/>
		<key>PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				AwQF
				</data>
				<key>Replace</key>
				<data>
				BgcI
				</data>
			</dict>
		</array>
		<key>VRAM</key>
		<integer>1500</integer>
		<key>VideoPorts</key>
		<integer>2</integer>
		<key>display-cfg</key>
		<string>04</string>
		<key>ig-platform-id</key>
		<string>0x59230000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>ATIConnectorsController</key>
		<string>ATICtl</string>
		<key>ATIConnectorsData</key>
		<string>111213</string>
		<key>ATIConnectorsPatch</key>
		<string>141516</string>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>BootPatches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>c3</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				MTI=
				</data>
				<key>MatchBuild</key>
				<string>10.12.6</string>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Replace</key>
				<data>
				MzQ=
				</data>
			</dict>
		</array>
		<key>Debug</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>FakeCPUID</key>
		<string>0x0306D0</string>
		<key>ForceKextsToLoad</key>
		<array>
			<string></string>
			<string>\</string>
			<string>ForceKext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>#Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MaskFind</key>
				<data>
				////////
				</data>
				<key>MaskReplace</key>
				<data>
				AAAAAP8A
				</data>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lapic panic patch example</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				6AAA//+DAAAAAAAA
				</data>
				<key>MaskFind</key>
				<data>
				/wAA////AAAAAP//
				</data>
				<key>MaskReplace</key>
				<data>
				/wAA////////////
				</data>
				<key>MaskStart</key>
				<data>
				/////wA=
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>RangeFind</key>
				<integer>200</integer>
				<key>Replace</key>
				<data>
				6AAA//8xwJCQkJCQ
				</data>
				<key>StartPattern</key>
				<data>
				ACnHeAAx241H+oM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Symbolic patch example got lapic panic</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				6AAA//+DAAAAAAAA
				</data>
				<key>MaskFind</key>
				<data>
				/wAA////AAAAAP//
				</data>
				<key>MaskReplace</key>
				<data>
				/wAA////////////
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Procedure</key>
				<string>_lapic_interrupt</string>
				<key>RangeFind</key>
				<integer>200</integer>
				<key>Replace</key>
				<data>
				6AAA//8xwJCQkJCQ
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Find</key>
				<string>01</string>
				<key>Replace</key>
				<string>02</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x,10.13.x,10.14.x,10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>framebuffer4K</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwAiDQADAwMAAAACAAAwAQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AwAiDQADAwMAAAAEAAAAAw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable NVDARequiredOS</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				TlZEQVJlcXVpcmVkT1MA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>NVDAStartupWeb</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable ﻿board-id check﻿ to prevent no signal﻿﻿﻿</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SI01qjQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				Dx+AAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent AGDP from loading</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ugUAAAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				ugAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Atheros Locale Fix</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g/g3
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AirPortAtheros40</string>
				<key>Replace</key>
				<data>
				g/gh
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily IONameMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ibPoAgAAweAMBQAQAACJgw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				ibPoAgAAweAJBQAQAACJgw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7aMiIIAAACD+QwPhTIBAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				D7aMiIIAAACD+QkPhTIBAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AMeDpAAAAAAQAABIi0gISA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AMeDpAAAAAACAABIi0gISA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYnGTYX2dGFBwecMSWP/vg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYnGTYX2dGFBwecJSWP/vg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hv8PAABIwegMD7cPgeH/Dw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hv8PAABIwegJD7cPgeH/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icGB4f8PAABIAdFIgfn/DwAAdzs=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				icGB4f8BAABIAdFIgfn/AQAAdzs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYHF/w8AAEnB7QxJiwQkSA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYHF/w8AAEnB7QlJiwQkSA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAAQAABJKfQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAACAABJKfQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AABJiY4iAQAAugAQAABIKQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AABJiY4iAQAAugACAABIKQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yAAAAEkp17gAEAAATYskJA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				yAAAAEkp17gAAgAATYskJA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4b+AQBUGTYnWugAQAABFMQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				4b+AQBUGTYnWugACAABFMQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iWTY+EmBxAAQAABJgccA8A==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				iWTY+EmBxAACAABJgccA8A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Bf8PAABIwegMZvfB/w8PlQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				Bf8PAABIwegJZvfB/w8PlQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weIIQQ+2wcHgDEQJ0EQJwA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				weIIQQ+2wcHgCUQJ0EQJwA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RYTJD5XAD7bAweAMRAnYRA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				RYTJD5XAD7bAweAJRAnYRA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g32MEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g32MGw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCISPT</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>15 to 20 port limit (9-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.6</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////FQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>15 to 26 port limit (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.6</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 10.13.6 by PMHeart</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g32IDw+DpwQAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32ID5CQkJCQkA==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x1</string>
		<key>CsrActiveConfig</key>
		<string>0x2</string>
		<key>MLB</key>
		<string>12345678901234567</string>
		<key>ROM</key>
		<data>
		MBRwYnHo
		</data>
		<key>Block</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>c1</string>
				<key>Disabled</key>
				<string>false</string>
				<key>Guid</key>
				<string>522e186f-964a-4ac7-9299-7a9f32a2473e</string>
				<key>Name</key>
				<string>name1</string>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>SmbiosVersion</key>
		<string>36</string>
		<key>BiosReleaseDate</key>
		<string>08/08/17</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP81.88Z.004D.B00.1708080655</string>
		<key>Board-ID</key>
		<string>Mac-94245B3640C91C81</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>W89135306OPDM6CAD</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>333</integer>
					<key>Part</key>
					<string>Part1</string>
					<key>Serial</key>
					<string>Ser1</string>
					<key>Size</key>
					<integer>2048</integer>
					<key>Slot</key>
					<integer>1</integer>
					<key>Type</key>
					<string>DDR</string>
					<key>Vendor</key>
					<string>v1</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>366</integer>
					<key>Part</key>
					<string>Part2</string>
					<key>Serial</key>
					<string>Ser2</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR2</string>
					<key>Vendor</key>
					<string>v2</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>366</integer>
					<key>Part</key>
					<string>Part2</string>
					<key>Serial</key>
					<string>Ser2</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Slot</key>
					<integer>4</integer>
					<key>#Type</key>
					<string>DDR2</string>
					<key>Vendor</key>
					<string>v2</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>8</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
		<key>SerialNumber</key>
		<string>W89G91VFDH2G</string>
		<key>Slots</key>
		<array>
			<dict>
				<key>Device</key>
				<string>HDMI</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>APPL,sdfsdf</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>SmUUID</key>
		<string>F1AB23C0-C35A-473E-BDB7-455C3A6271E8</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Trust</key>
		<true/>
		<key>MemoryRank</key>
		<integer>2</integer>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel</key>
		<string>2</string>
		<key>CustomUUID</key>
		<string>2926A57C-FF0E-4A64-980F-23483BD41969</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<false/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>c1</string>
				<key>Address</key>
				<string>12345678</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>Address</key>
				<string>12345678</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>#Comment</key>
				<string>c1</string>
				<key>Address</key>
				<string>abcde</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>


		<key>FuzzyMatch</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>DisableIoMapper</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<false/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
</dict>
</plist>
