<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Eps</string>
	<key>Year</key>
	<string>2013</string>
	<key>Description</key>
	<string>Apple style theme</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>Frames</key>
				<integer>0</integer>
				<key>FrameTime</key>
				<integer>0</integer>
				<key>ID</key>
				<integer>0</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string></string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>Background.png</string>
			<key>Sharp</key>
			<integer>128</integer>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string>Logo.png</string>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>PTMono_10W.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>BarHeight</key>
			<integer>12</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>ScrollHeight</key>
			<integer>8</integer>
			<key>Width</key>
			<integer>16</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_Big.png</string>
			<key>Color</key>
			<string>0xBFBFBF7F</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_Small.png</string>
		</dict>
	</dict>
</dict>
</plist>
