<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>ATIConnectorsController</key>
		<string>6000</string>
		<key>ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>AsusAICPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Comment</key>
				<string>Patch_to_not_load_this_driver</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<string>0x04020000</string>
				<key>Replace</key>
				<string>0x44220000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOBlockStorage</string>
				<key>Find</key>
				<data>TA==</data>
				<key>Replace</key>
				<data>TA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>boot-args</key>
		<string>-v arch=i386 slide=0</string>
		<key>prev-lang:kbd</key>
		<string>ru:0</string>
		<key>CustomUUID</key>
		<string>511CE200-1000-4000-9999-010203040506</string>
		<key>InjectSystemID</key>
		<false/>
		<key>LegacyBoot</key>
		<string>PBR</string>
		<key>BacklightLevel</key>
		<string>0x0501</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>BiosReleaseDate</key>
		<string>05/03/10</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBook1,1</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Family</key>
		<string>MacBook</string>
		<key>SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>BoardVersion</key>
		<string>Proto1</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>Mobile</key>
		<true/>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>ChassisType</key>
		<integer>16</integer>
		<key>FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>ProcessorType</key>
		<string>0x0201</string>
		<key>CpuFrequencyMHz</key>
		<integer>3200</integer>
		<key>BusSpeedkHz</key>
		<integer>133330</integer>
		<key>QPI</key>
		<integer>4800</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>GraphicsInjector</key>
		<true/>
		<key>InjectIntel</key>
		<true/>
		<key>InjectATI</key>
		<true/>
		<key>InjectNVidia</key>
		<true/>
		<key>InjectEDID</key>
		<true/>
		<key>CustomEDID</key>
		<data>AP///////wAyDADfAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=</data>
		<key>VRAM</key>
		<integer>1024</integer>
		<key>DualLink</key>
		<integer>0</integer>
		<key>LoadVBios</key>
		<false/>
		<key>PatchVBios</key>
		<true/>
		<key>VideoPorts</key>
		<integer>2</integer>
		<key>FBName</key>
		<string>Makakakakala</string>
		<key>NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>ig-platform-id</key>
		<string>0x01620005</string>
		<key>PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>gAeoAqAF</data>
				<key>Replace</key>
				<data>gAeoAjgE</data>
			</dict>
		</array>
	</dict>
	<key>PCI</key>
	<dict>
		<key>StringInjector</key>
		<false/>
		<key>DeviceProperties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>HDAInjection</key>
		<string>Detect</string>
		<key>USBInjection</key>
		<true/>
		<key>USBFixOwnership</key>
		<true/>
		<key>InjectClockID</key>
		<true/>
		<key>LpcTune</key>
		<false/>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DsdtName</key>
		<string>DSDT.aml</string>
		<key>DropOemSSDT</key>
		<true/>
		<key>DropAPIC</key>
		<false/>
		<key>DropMCFG</key>
		<false/>
		<key>DropHPET</key>
		<false/>
		<key>DropECDT</key>
		<false/>
		<key>DropDMAR</key>
		<true/>
		<key>DropBGRT</key>
		<true/>
		<key>GenerateIvyStates</key>
		<true/>
		<key>GenerateCStates</key>
		<true/>
		<key>GeneratePStates</key>
		<true/>
		<key>DoubleFirstState</key>
		<true/>
		<key>PLimitDict</key>
		<integer>1</integer>
		<key>UnderVoltStep</key>
		<integer>1</integer>
		<key>MinMultiplier</key>
		<integer>8</integer>
		<key>MaxMultiplier</key>
		<integer>12</integer>
		<key>PluginType</key>
		<integer>0</integer>
		<key>EnableC6</key>
		<true/>
		<key>EnableC4</key>
		<false/>
		<key>EnableC2</key>
		<true/>
		<key>EnableISS</key>
		<true/>
		<key>C3Latency</key>
		<string>0x03E9</string>
		<key>ResetAddress</key>
		<string>0x64</string>
		<key>ResetValue</key>
		<string>0xFE</string>
		<key>smartUPS</key>
		<false/>
		<key>PatchAPIC</key>
		<false/>
		<key>FixDsdtMask</key>
		<string>0xFFFF</string>
		<key>PatchesDSDT</key>
		<array>
			<dict>
				<key>Find</key>
				<data>W4IeQkFUMQhfSElEDEHQDAoIX1VJRAEUCF9TVEEApAA=</data>
				<key>Replace</key>
				<data></data>
			</dict>
			<dict>
				<key>Find</key>
				<data>UFhTWAhfQURSAAhfUFJXEgYC</data>
				<key>Replace</key>
				<data>UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==</data>
			</dict>
		</array>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>metal</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>TextOnly</key>
		<false/>
		<key>DebugLog</key>
		<false/>
		<key>DefaultBootVolume</key>
		<string>MacHDD</string>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>2</integer>
			<key>Mirror</key>
			<false/>
			<key>DoubleClick</key>
			<integer>500</integer>
		</dict>
		<key>Volumes</key>
		<dict>
			<key>Legacy</key>
			<string>First</string>
			<key>Hide</key>
			<array>
				<string>VOLUME_NAME</string>
				<string>VOLUME_UUID</string>
				<string>TODO_HIDE_VOLUME_BY_TYPE/GROUP</string>
			</array>
		</dict>
		<key>HideEntries</key>
		<dict>
			<key>OSXInstall</key>
			<true/>
			<key>Recovery</key>
			<true/>
			<key>Duplicate</key>
			<true/>
			<key>WindowsEFI</key>
			<false/>
			<key>Grub</key>
			<false/>
			<key>Gentoo</key>
			<false/>
			<key>Ubuntu</key>
			<false/>
			<key>OpticalUEFI</key>
			<true/>
			<key>InternalUEFI</key>
			<true/>
			<key>ExternalUEFI</key>
			<true/>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MountEFI</key>
		<false/>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>LogEveryBoot</key>
		<string>Yes</string>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
</dict>
</plist>
