<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Timeout</key>
		<integer>5</integer>
		<key>Arguments</key>
		<string>-v arch=i386 slide=0</string>
		<key>DefaultVolume</key>
		<string>MacHDD</string>
		<key>Log</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>XMPDetection</key>
		<string>-1</string>
		<key>Legacy</key>
		<string>PBR</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>ATIConnectorsController</key>
		<string>6000</string>
		<key>ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>AsusAICPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Comment</key>
				<string>Patch_to_not_load_this_driver</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<string>0x04020000</string>
				<key>Replace</key>
				<string>0x44220000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOBlockStorage</string>
				<key>Find</key>
				<data>TA==</data>
				<key>Replace</key>
				<data>TA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>511CE200-1000-4000-9999-010203040506</string>
		<key>InjectSystemID</key>
		<false/>
		<key>BacklightLevel</key>
		<string>0x0501</string>
		<key>InjectKexts</key>
		<false/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>BiosReleaseDate</key>
		<string>05/03/10</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBook1,1</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Family</key>
		<string>MacBook</string>
		<key>SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>BoardVersion</key>
		<string>Proto1</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>Mobile</key>
		<true/>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>ChassisType</key>
		<integer>16</integer>
		<key>FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>Trust</key>
		<true/>
		<key>Memory</key>
		<dict>
			<key>SlotCount</key>
			<integer>4</integer>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Slot</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>4096</integer>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Vendor</key>
					<string>Kingston</string>
					<key>Part</key>
					<string>C0001403</string>
					<key>Serial</key>
					<string>00001001</string>
					<key>Type</key>
					<string>DDR3</string>
				</dict>
				<dict>
					<key>Slot</key>
					<integer>2</integer>
					<key>Size</key>
					<integer>4096</integer>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Vendor</key>
					<string>Kingston</string>
					<key>Part</key>
					<string>C0001404</string>
					<key>Serial</key>
					<string>00001002</string>
					<key>Type</key>
					<string>DDR3</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Type</key>
		<string>0x0201</string>
		<key>FrequencyMHz</key>
		<integer>3200</integer>
		<key>BusSpeedkHz</key>
		<integer>133330</integer>
		<key>QPI</key>
		<integer>4800</integer>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>Latency</key>
		<integer>250</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>ATI</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<true/>
		<key>CustomEDID</key>
		<data>AP///////wAyDADfAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=</data>
		<key>VRAM</key>
		<integer>1024</integer>
		<key>DualLink</key>
		<integer>0</integer>
		<key>LoadVBios</key>
		<false/>
		<key>PatchVBios</key>
		<true/>
		<key>VideoPorts</key>
		<integer>2</integer>
		<key>FBName</key>
		<string>Makakakakala</string>
		<key>NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>ig-platform-id</key>
		<string>0x01620005</string>
		<key>PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>gAeoAqAF</data>
				<key>Replace</key>
				<data>gAeoAjgE</data>
			</dict>
		</array>
	</dict>
	<key>Devices</key>
	<dict>
		<key>DropOEM_DSM</key>
		<true/>
		<key>Inject</key>
		<false/>
		<key>Properties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>LpcTune</key>
		<false/>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x67501002</string>
			<key>IntelGFX</key>
			<string>0x0126</string>
			<key>LAN</key>
			<string>0x20008086</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x25628086</string>
			<key>WIFI</key>
			<string>0x431214e4</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>0x0887</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>FixMask</key>
			<string>0xFFFF</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Remove battery device from desktop</string>
					<key>Find</key>
					<data>W4IeQkFUMQhfSElEDEHQDAoIX1VJRAEUCF9TVEEApAA=</data>
					<key>Replace</key>
					<data></data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Add _SUN property for GIGE</string>
					<key>Find</key>
					<data>UFhTWAhfQURSAAhfUFJXEgYC</data>
					<key>Replace</key>
					<data>UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<true/>
				<key>CStates</key>
				<true/>
			</dict>
			<key>DropOem</key>
			<true/>
			<key>PLimitDict</key>
			<integer>1</integer>
			<key>UnderVoltStep</key>
			<integer>1</integer>
			<key>DoubleFirstState</key>
			<true/>
			<key>MinMultiplier</key>
			<integer>8</integer>
			<key>MaxMultiplier</key>
			<integer>12</integer>
			<key>PluginType</key>
			<integer>0</integer>
		</dict>
		<key>ResetAddress</key>
		<string>0x64</string>
		<key>ResetValue</key>
		<string>0xFE</string>
		<key>smartUPS</key>
		<false/>
		<key>PatchAPIC</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>metal</string>
		<key>TextOnly</key>
		<false/>
		<key>CustomIcons</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Language</key>
		<string>ru:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>2</integer>
			<key>Mirror</key>
			<false/>
			<key>DoubleClick</key>
			<integer>500</integer>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>Hotkey</key>
					<string>M</string>
					<key>Disabled</key>
					<true/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Hidden</key>
					<false/>
				</dict>
				<dict>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
							<key>AddArguments</key>
							<string>-v</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>MyLegacyEntry</string>
					<key>Hotkey</key>
					<string>L</string>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Arguments</key>
					<string>-b</string>
					<key>Title</key>
					<string>MyCustomShell</string>
					<key>Hotkey</key>
					<string>S</string>
					<key>Hidden</key>
					<false/>
					<key>Disabled</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>0011223344556677</string>
		<key>MLB</key>
		<string>C02032101R5DC771H</string>
		<key>MountEFI</key>
		<false/>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>LogEveryBoot</key>
		<string>10</string>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
</dict>
</plist>
