<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>blackosx</string>
	<key>Description</key>
	<string>A fun, simply animated, theme for Christmas.</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>60</integer>
				<key>Frames</key>
				<integer>26</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_1_Logo</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Light</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>OffsetX</key>
			<integer>0</integer>
			<key>OffsetY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>16</integer>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>80</integer>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>9</integer>
			<key>Path</key>
			<string>WoR_NovaMono_9W_A.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x930000FF</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2013</string>
</dict>
</plist>
