<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Winlog</string>
	<key>Year</key>
	<string>2012</string>
	<key>Description</key>
	<string>iClover</string>
	<key>Theme</key>
	<dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<false/>
			<key>Inline</key>
			<true/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>9</integer>
			<key>Path</key>
			<string>WoB_Hellfire_Bold_9W.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF7F</string>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>iClover_logo</string>
				<key>Frames</key>
				<integer>4</integer>
				<key>FrameTime</key>
				<integer>512</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
