<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>blackosx</string>
	<key>Year</key>
	<string>2012</string>
	<key>Description</key>
	<string>3rd revision of my black_green (v3.3)</string>
	<key>Theme</key>
	<dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Inline</key>
			<false/>
			<key>Swap</key>
			<true/>
			<key>Scale</key>
            <integer>4</integer>
			<key>OffsetX</key>
			<integer>50</integer>
			<key>OffsetY</key>
			<integer>96</integer>
		</dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>bg_block_192px.png</string>
			<key>Type</key>
			<string>Tile</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Dark</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo_trans.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>WoB_PTMono_10W_NA.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>BootCampStyle</key>
		<false/>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x4E7F18FF</string>
			<key>Small</key>
			<string>Selection_small.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>OnTop</key>
			<true/>
			<key>Indicator</key>
			<string>selection_indicator.png</string>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>Anim_1_Logo_IntroOutro</string>
				<key>Frames</key>
				<integer>381</integer>
				<key>FrameTime</key>
				<integer>25</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
