<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>chris1111</string>
	<key>Description</key>
	<string>Glass</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>16</integer>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>OffsetX</key>
			<integer>0</integer>
			<key>OffsetY</key>
			<integer>0</integer>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<true/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>40</integer>
			<key>ButtonOffset</key>
			<integer>32</integer>
			<key>SelectionBigWidth</key>
			<integer>144</integer>
			<key>SelectionSmallWidth</key>
			<integer>64</integer>
			<key>TileXSpace</key>
			<integer>8</integer>
			<key>TileYSpace</key>
			<integer>24</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF7F</string>
			<key>Small</key>
			<string>selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2025</string>
</dict>
</plist>
