<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SystemParameters</key>
	<dict>
		<key>boot-args</key>
		<string>-v npci=0x2000 slide=0</string>
		<key>prev-lang:kbd</key>
		<string>en:0</string>
		<key>InjectSystemID</key>
		<string>Yes</string>
		<key>LegacyBoot</key>
		<string>PBR</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>PatchVBios</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>
