<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DropOemSSDT</key>
		<string>Yes</string>
		<key>GenerateCStates</key>
		<string>Yes</string>
		<key>GeneratePStates</key>
		<string>Yes</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>GraphicsInjector</key>
		<string>Yes</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>511CE200-1000-4000-9999-010203040506</string>
		<key>DefaultBootVolume</key>
		<string>MacHDD</string>
		<key>boot-args</key>
		<string>-v arch=i386 darkwake=0 npci=0x2000</string>
		<key>prev-lang:kbd</key>
		<string>en:0</string>
	</dict>
</dict>
</plist>
